/* Color defines */
:root {
	background-color: #4C4540;

	--normal-fg:	#C8C8C8;
	--normal-bg:	rgba(200, 200, 200, 0.2);
	--magic-fg:		#8888FF;
	--magic-bg:		rgba(136, 136, 255, 0.2);
	--rare-fg:		#FFFF77;
	--rare-bg:		rgba(255, 255, 119, 0.2);
	--unique-fg:	#AF6025;
	--unique-bg:	rgba(175, 96, 37, 0.2);

	--augment-magic:		var(--magic-fg);
	--augment-crafted:	#B4B4FF;
	--augment-fire:		#960000;
	--augment-cold:		#366492;
	--augment-lightning:	gold;
	--augment-chaos:		#D02090;
	--augment-corrupted:	#D20000;
}

.item {
	color: #7F7F7F;
	border: 1px solid;
	background: rgba(0, 0, 0, 0.8);
	margin-bottom: 2em;
	padding: 0em;
}
.item img {
	padding: 3px;
}
.item .icon {
	float: right;
	padding-right: 1em;
}

.item .name {
	font-size: 1.2em;
	border: 1px solid;
	padding-left: 1em;
}

.item .implicits {
	border: 1px solid;
	padding-left: 1em;
}
.item .implicits p {
	color: var(--augment-magic);
}

.item .explicits {
	border: 1px solid;
	padding-left: 1em;
}
.item .explicits p {
	color: var(--augment-magic);
}

.item .attributes {
	border: 1px solid;
	padding-left: 1em;
}

/*********************
 * Rarity
 * normal	= white
 * magic		= blue
 * rare		= yellow
 * unique	= orange
 *********************/
.item.normal .name,
.item.normal img {
	color: var(--normal-fg);
	border: 2px solid var(--normal-fg);
	background-color: var(--normal-bg);
}

.item.magic .name,
.item.magic img {
	color: var(--magic-fg);
	border: 2px solid var(--magic-fg);
	background-color: var(--magic-bg);
}

.item.rare .name,
.item.rare img {
	color: var(--rare-fg);
	border: 2px solid var(--rare-fg);
	background-color: var(--rare-bg);
}

.item.unique .name,
.item.unique img {
	color: var(--unique-fg);
	border: 2px solid var(--unique-fg);
	background-color: var(--unique-bg);
}

/* Set item properties color. Augmented properties get highlighted */
.item .properties {
	border: 1px solid;
	padding-left: 1em;
}
.item .properties span {
	color: white;
	padding-right: 1em;
}
.item .properties .magic {
	color: var(--augment-magic);
}
.item .properties .fire {
	color: var(--augment-fire);
}
.item .properties .cold {
	color: var(--augment-cold);
}
.item .properties .lightning {
	color: var(--augment-lightning);
}
.item .properties .chaos {
	color: var(--augment-chaos);
}

/* Recolor crafted text */
.item .implicits .enchanted,
.item .explicits .crafted {
	color: var(--augment-crafted);
}

/* Color the corrupted trailer */
.item p.corrupted {
	color: var(--augment-corrupted);
}
